.accountSettingsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;

  h4 {
    text-align: center;
  }

  .offersWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    color: var(--text);
    gap: 20px;

    .offerBlock {
      position: relative;
      padding: 10px;
      box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
      border: 1px solid var(--from-input-border);
      border-radius: 4px;

      h3 {
        @media (max-width: 768px) {
          max-width: 230px;
        }
      }

      .deleteButton {
        position: absolute;
        display: none;
        right: 10px;
        top: 10px;
        background: var(--red);
        color: var(--white);
        padding: 5px;
        border-radius: 4px;
        @media (max-width: 1440px) {
          display: flex;
        }
      }

      &:hover {
        .deleteButton {
          display: flex;
        }
      }

      span {
        display: block;
        margin-top: 20px;
      }

      .offerFooter {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        p {
          font-size: 13px;
          font-weight: 400;
          @media (max-width: 1440px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}