.avatar {
  margin-right: 10px;
  display: flex;
  flex-direction: column-reverse;
  img {
    height: 30px;
    border-radius: 50%;
    max-width: 30px;
  }
  span {
    margin-bottom: 5px;
    font-size: 0.7rem;
  }
}