.avatar {
  margin-right: 10px;
  position: relative;
  img {
    height: 30px;
    border-radius: 50%;
    max-width: 30px;
  }
  span {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 0.7rem;
  }
}