.buttonPrimary {
  width: 196px;
  background: var(--green);
  color: var(--white);
  float: right;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 13px 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all 0.3s ease;

  a {
    color: var(--white);
  }

  &:hover {
    &:hover {
      background: var(--green-light);
    }
  }
}