:root {
  --darkWhite: #f0f2fa;
  --white: #ffff;
  --red: #db5c4c;
  --warning: #FFB818;
  --green: #79be00;
  --greenOpacity: #f0fbdb;
  --blue: #219be7;
  --text: #414042;
  --textPrimary: #71848d;
  --disabled: rgba(113, 132, 141, 0.38);
  --borderInputOpacity: rgba(113, 132, 141, 0.51);
  --background-popup: rgba(0, 0, 0, 0.29);
}