.button{
  width: 100%;
  background: var(--green);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  padding: 13px 22px;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 8px var(--green);
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    background: var(--white);
    color: var(--green);
  }
}