.titleWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;


  h1 {
    text-align: center;
    font-size: 32px;
    line-height: 37.5px;
    color: var(--text);
    margin-bottom: 91px;

    span {
      font-size: 40px;
      line-height: 47px;
      background: radial-gradient(61.06% 1356.98% at 83.4% 72.34%, #0057B8 0%, #001AFF 0.01%, #FFD700 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 17px 26px;
    background: var(--langind-background);
    border-radius: 0 10px 10px 10px;
    max-width: 960px;
    width: 100%;

    input {
      padding: 24px 17px;
      border: 0;
      border-radius: 4px 0 0 4px;
      max-width: 728px;
      width: 100%;
      min-height: 70px;
      font-weight: 700;
      font-size: 16px;
      line-height: 23px;
      color: var(--text);

      &::placeholder {
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        color: rgba(65, 64, 66, 0.6);
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 177px;
      width: 100%;
      min-height: 70px;
      background: var(--white);
      border-left: 2px solid rgba(0, 0, 0, 0.31);
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 2px;
      color: rgba(0, 0, 0, 0.5);
      border-radius: 0 4px 4px 0;

      p {
        margin-right: 27px;
      }
    }

    .inputTitle {
      position: absolute;
      display: flex;
      top: -39px;
      gap: 45px;
      left: 0;
      padding: 10px 26px;
      border-radius: 10px 10px 0 0;
      background: var(--langind-background);
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.31);

      p {
        cursor: pointer;
      }

      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 50%;
        background: var(--green);
        bottom: 0;
        left: 0;
        transition: .3s;
      }
    }

    .inputTitleActive {
      &::after {
        left: 50%;
      }

    }
  }
}