.resetWrapper {
  padding: 20px;
  background: var(--darkWhite);
  text-align: center;
  border-radius: 4px;
  max-width: 60%;
  margin: 0 auto;

  h3 {
    color: var(--text);
  }

  input {
    max-width: 70%;
  }

  button {
    max-width: 70%;
  }

  p {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
    color: var(--textPrimary);
  }

  a {
    display: block;
    color: var(--textPrimary);
    font-size: 15px;
    margin-top: 10px;
  }
}