.nav {
  width: 100%;
  max-width: 300px;
  box-shadow: rgb(0 0 0 / 12%) 0 2px 5px, rgb(0 0 0 / 14%) 0 1px 2px;
  padding: 15px;
  border-radius: 4px;
  height: 100%;
  @media (max-width: 768px) {
    max-width: 40px;
    padding: 5px;
  }

  .user {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--borderInputOpacity);
    transition: background .3s;
    border-radius: 4px;
    @media (max-width: 768px) {
      border-bottom: none;
      padding: 0;
    }
    .userWrapper {
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        p {
          display: none;
        }
      }
    }

    .img {
      width: 30px;
      height: 30px;
      border-radius: 50px;
      background: var(--background-popup);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      overflow: hidden;

      img {
        max-width: 30px;
      }
    }

    &:hover {
      background: var(--darkWhite);
    }
  }
}