.chatForm {
  width: 100%;
  margin-left: 10px;

  .avatar {
    margin-right: 10px;

    img {
      height: 30px;
      border-radius: 50%;
      width: 30px;
    }
  }

  .chatHead {
    display: flex;
    align-items: center;
  }

  .mainChat {
    border: 1px solid var(--borderInputOpacity);
    overflow-y: auto;
    height: 100%;
    max-height: 70vh;
    border-radius: 4px;
    padding: 5px 20px;
    position: relative;

    .startRef {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      height: 50%;
      z-index: -1;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background: var(--darkWhite);
      margin: 5px;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--green);
      border-radius: 4px;
    }
  }

  .inputMenu {
    margin-top: 10px;
    display: flex;
    position: relative;

    button {
      margin-left: 15px;
      background: none;
    }

    p {
      position: absolute;
      left: 0;
      bottom: -20px;
      color: var(--red);
      font-size: .7rem;
      font-weight: 400;
    }
  }

  .chatList {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    .isSender {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;

      p {
        padding: 5px 10px;
        background: var(--darkWhite);
        border-radius: 4px;
        max-width: 45%;
        width: auto;
        text-align: right;
        word-break: break-all;
        @media (max-width: 768px) {
          font-size: 13px ;
          max-width: 90%;
        }
        span {
          display: none;
        }
      }
    }

    .isReceiver {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;


      p {
        padding: 5px 10px;
        background: var(--darkWhite);
        border-radius: 4px;
        max-width: 45%;
        min-width: 20%;
        width: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: left;
        word-break: break-all;
        @media (max-width: 768px) {
          font-size: 13px ;
          max-width: 90%;
        }
      }
    }
  }
}