.pickerMainContainer {
  padding: 20px;
  box-shadow: rgb(0 0 0 / 12%) 0 2px 5px, rgb(0 0 0 / 14%) 0 1px 2px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .avatar {
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .description {
    max-width: 50%;
    font-weight: 400;
    @media (max-width: 768px) {
      max-width: 85%;
    }
  }
  .swiper {
    width: 50px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .linkWrapper {
    width: 100%;
    display: flex;
  }
}