.userCardWrapper {
  background: var(--white);
  box-shadow: rgb(0 0 0 / 12%) 0 2px 5px, rgb(0 0 0 / 14%) 0 1px 2px;
  margin: 20px;
  border-radius: 4px;
  padding: 20px;
  position: relative;
  cursor: pointer;

  .statusDot {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--green);
    right: 10px;
    transform: translateY(-50%);
    top: 50%;
    @media (max-width: 425px) {
      top: 20px;
      right: 20px;
    }
  }

  .statusDotActive {
    background: var(--red);
  }

  .userParams {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: 425px) {
      flex-direction: column;
    }
    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    p {
      padding: 10px;
      box-shadow: rgb(0 0 0 / 12%) 0 2px 5px, rgb(0 0 0 / 14%) 0 1px 2px;
      border-radius: 4px;
      @media (max-width: 425px) {
        font-size: 13px;
      }
    }
  }

}